@import "./mixins";
// Переменные

// Цвета
$c_white: #fff;
$c_gray: #757575;
$c_gray__light: #C4C4C4;
$c_black: #000;

$c_accent: #FF4F4F;
$c_bg_secondary: #F8ECE6;

// Анимации
$transition_time: 0.3s;
$transition_time_long: 0.6s;

// 600

// Отступы
$m_section_top: 100px;

$p_section: 56px;