
// md
@media screen and (max-width: 1200px) {
  .subscribe-news {
    .section-title {
      margin-bottom: 60px;
    }

    &__form {
      max-width: 900px;
    }

    &__email {
      width: 100%;
      flex: 1 1;
    }
  }

  .footer {
    &__content {

    }
  }
}

// sm
@media screen and (max-width: 992px) {

}

// xs
@media screen and (max-width: 768px) {

  .subscribe-news {
    text-align: center;

    &__form {
      flex-direction: column;
    }

    &__email {
      margin-bottom: 16px;
    }
  }

  .footer {
    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__nav {
      margin-bottom: 32px;

      .nav {
        &__title {
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media screen {
  .footer {
    &__footer {
      flex-direction: column;
      align-items: stretch;

      >* {
        text-align: center !important;
        margin-bottom: 8px;
      }
    }
  }
}