
@media screen and (max-width: 1680px) {
  header {
    .header {
      height: 80px;

      &__search,
      &__sale,
      &__connection {
        display: none;
      }

      &__item {
        &-text {
          display: none;
        }
      }
    }

    .header-down {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
    }
  }
}

// md
@media screen and (max-width: 1200px) {

  header {

    .header {

    }


  }
}

// sm
@media screen and (max-width: 992px) {
  header {
    .drop-down-menu {

      &__image {
        //display: none;
      }
    }
  }
}

// xs
@media screen and (max-width: 768px) {

}
