
@media screen and (max-width: 1680px) {
  header {
    .header {
      height: 80px;

      &__search,
      &__sale,
      &__connection {
        display: none;
      }

      &__item {
        &-text {
          display: none;
        }
      }
    }

    .header-down {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 1200px) {

  header {

    .header {

    }


  }
}

@media screen and (max-width: 992px) {
  header {
    .drop-down-menu {

      &__image {
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    transition: $transition_time;

    &.hide {
      height: 60px;

      .header-mobile {
        transform: translateY(-100%);
      }
    }

    .header {
      height: 60px;

      &__center {
        margin: 0;
      }

      &__menu-open {
        min-width: 30px; height: 28px;
      }

      .header-phone,
      .header-map,
      .header-favorite,
      .header-card {
        display: none;
      }
    }

    .header-down {
      display: none;
    }

    .header-mobile {
      z-index: 1;
      height: 40px;
      background-color: $c_white;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 var(--p-section);

      transition: $transition_time;

      &.show-search {
        .header-mobile__search {
          position: static;
          width: 28px;
          height: 28px;
        }

        .header-mobile-search {
          background-color: $c_white;
          width: 100%;
          justify-content: space-between;
          padding: 0 var(--p-section);

          &__wrapper {
            width: 100%;
            height: 100%;
            position: relative;
          }

          .header-icon {
            position: absolute;
            right: 8px;
          }

          &__input {
            flex: 1 1;
          }

          &__opener {
            display: none;
          }

          &__closer {
            display: block;
          }
        }
      }

      .header-icon {
        width: 28px;
        height: 28px;
      }

      &__search {
        position: relative;
        width: 28px;
        height: 28px;
        transition: $transition_time;
      }
      
      &__closer {
        background-color: #222;
        display: none;
      }
    }

    .header-mobile-search {
      z-index: 2;
      width: 28px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      flex-wrap: nowrap;
      overflow: hidden;

      transition: $transition_time;

      &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        transition: $transition_time;
      }

      .header-icon {
        flex: 1 1;
        min-width: 28px;
        transition: $transition_time;
      }

      &__input {
        height: 32px;
        border: 1px solid $c_gray__light;
        padding-left: 46px;
        @include fontRubik(300, normal, 0.8rem);
        transition: $transition_time;
      }

    }

    .drop-down-menu {
      flex-direction: column;

      &__mobile-header {
        margin: 16px 0;
        display: flex;
      }

      &__content {
        margin: 0 -16px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "big ." "big ." "big .";
      }

      &__nav {
        margin: 0 16px;

        &:first-child {
          grid-area: big;
        }
      }

      &__image-wrapper {
        display: none;
      }
    }
  }
}
