@import "../../utilities/variables";

// Шапка

header {
  z-index: 2;
  height: 120px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .header {
    z-index: 1;
    height: 100%;
    padding: 0 $p_section;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-family: Montserrat, serif;

    background-color: $c_white;

    > * {
      display: flex;
      align-items: center;
    }

    &__left,
    &__right {
      flex: 1 1 50vw;
      overflow: hidden;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__left {
      justify-content: space-between;

      > * {
        margin-right: 32px;
      }
    }

    &__search {
      width: 100%; height: 35px;
      position: relative;
      display: flex;
      justify-content: space-between;

      .header__icon {
        position: absolute;
        left: 0;
      }

      &.active + .header__sale {
        width: 0;
        overflow-x: hidden;
      }
    }

    &__input {
      padding-left: 65px;
      flex: 1 1;

      &:hover {
        border: 1px solid $c_black;
      }
    }

    &__sale {
      font-weight: 600;

      transition: $transition_time;

      &:hover {
        color: $c_accent;
      }
    }

    &__center {
      margin: 0 56px;
    }

    &__logo {
      &.active {
        filter: contrast(50%) sepia(100%) hue-rotate(312deg) brightness(1.2) saturate(500%);
      }
    }

    &__right {
      justify-content: flex-end;

      > * {
        margin-left: 32px;
      }
    }

    &-icon {
      width: 37px; height: 37px;
      position: relative;

      img {
        @include imageFit(contain);
      }

      &__badge {
        z-index: 1;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -10px;
        width: 22px;

        font-size: .8rem;

        background-color: $c_white;
        border: 1px solid $c_black;
        border-radius: 100%;

        &:empty {
          display: none;
        }
      }
    }

    &__connection {
      display: flex;
      flex-direction: column;
    }

    // Стили для кноки, открывающей меню
    &__menu-open {
      min-width: 40px; height: 36px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;

      cursor: pointer;

      border-bottom: 2px solid $c_black;
      transition: $transition_time;

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 2px;

        background: $c_black;
        transition: $transition_time;
      }

      &:after {
        top: 50%;
      }

      &.is-active {
        border: 0;

        &:before, &:after {
          content: "";
          display: block;
          width: 100%;
          margin-top: -55%;
          margin-left: 0;
          top: 100%;
          left: 0;

          transform: rotate(45deg);
          background: black;
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      &:hover {
        border-color: $c_accent;

        &:before,
        &:after {
          background: $c_accent;
        }
      }
    }
  }

  .drop-down-menu {
    z-index: 0;
    padding: 0 56px 56px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    background-color: $c_white;
    transform: translateY(-100%);
    transition: $transition_time;

    &.is-active {
      transform: translateY(0);
    }

    &__content {
      display: flex;
      flex: 1 1;
    }

    &__image {
      img {
        @include imageFit(contain);
      }
    }

    &__nav {
      margin-right: 56px;

      .nav {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        font-family: Montserrat, serif;
        font-style: 400;

        a {
          display: block;

          &:hover {
            color: $c_gray;
          }
        }

        &__title {
          margin-bottom: 48px;

          @include fontMontserrat(600, 1rem);
        }

        &__content {
          margin: -8px 0;
        }

        &__item {
          margin: 8px 0;
          
          @include fontMontserrat(400, .9rem, 1rem);

          &--bold {
            margin: 12px 0;

            @include fontMontserrat(600, 1rem);

            &:hover {
              color: $c_accent !important;
            }
          }
        }
      }
    }
  }
}