@import "../../utilities/variables";

// Шапка

header {
  height: 120px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: 2;

  .header {
    background-color: $c_white;
    position: relative;
    height: 100%;
    padding: 0 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    &__left,
    &__right {
      flex: 1 1;
      display: flex;
      align-items: center;
    }

    &__left {

    }

    &__right {
      justify-content: flex-end;
    }

    // Стили для кноки, открывающей меню
    &__menu-open {
      width: 40px;
      height: 36px;
      position: relative;
      border-bottom: 2px solid $c_black;
      box-sizing: border-box;
      transition: $transition_time;
      cursor: pointer;
      overflow: hidden;


      &:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 2px;
        background: $c_black;
        transition: $transition_time;
      }

      &:after {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        content: "";
        display: block;
        height: 2px;
        background: $c_black;
        transition: $transition_time;
      }

      &.is-active {
        border: 0;

        &:before {
          content: "";
          display: block;
          width: 100%;
          transform: rotate(45deg);
          background: black;
          top: 100%;
          margin-top: -55%;
          left: 0;
          margin-left: -0;
        }

        &:after {
          content: "";
          display: block;
          width: 100%;
          transform: rotate(-45deg);
          background: black;
          top: 100%;
          margin-top: -55%;
          left: 0;
          margin-left: 0;
        }
      }

      &:hover {
        border-color: $c_accent;

        &:before,
        &:after {
          background: $c_accent;
        }
      }
    }


  }

  .drop-down-menu {
    background-color: $c_white;
    padding: 0 56px 56px;

    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 0;

    transform: translateY(-100%);

    display: flex;
    justify-content: space-between;

    transition: $transition_time;

    &.is-active {
      transform: translateY(0);
    }

    &__content {
      flex: 1 1;
      display: flex;
    }

    &__nav {
      margin-right: 56px;

      .nav {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        font-family: Montserrat, serif;
        font-style: normal;

        a {
          color: $c_black;
          display: block;

          &:hover {
            color: $c_gray;
          }
        }

        &__title {
          margin-bottom: 48px;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1rem;
        }

        &__content {
          margin: -8px 0;
        }

        &__item {
          margin: 8px 0;
          font-size: 0.9rem;
          line-height: 1rem;

          &--bold {
            margin: 12px 0;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1rem;

            &:hover {
              color: $c_accent !important;
            }
          }
        }

      }
    }
  }
}