@import "../../utilities/variables";

// Шапка

header {
  z-index: 2;
  height: var(--header-size);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  font-family: Montserrat, serif;

  .header {
    z-index: 2;
    height: var(--header-size);
    padding: 0 var(--p-section);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $c_white;

    > * {
      display: flex;
      align-items: center;
    }

    &__left,
    &__right {
      flex: 1 1 50vw;
      overflow: hidden;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        .header__item-text {
          color: $c_accent;
        }

        .header__icon {
          filter: contrast(50%) sepia(100%) hue-rotate(312deg) brightness(1.2) saturate(500%);
        }
      }
    }

    &__item-text {
      transition: $transition_time;
    }

    &__left {
      //justify-content: space-between;

      > * {
        margin-right: 32px;
      }
    }

    &__search {
      width: 100%;

      .header-search {
        &__input {
          width: 100%;
        }
      }
    }

    &__input {
      padding-left: 65px;
      flex: 1 1;

      &:hover {
        border: 1px solid $c_black;
      }
    }

    &__center {
      margin: 0 56px;
    }

    &__logo {
      transition: .15s;

      &:hover, &.active {
        filter: contrast(50%) sepia(100%) hue-rotate(312deg) brightness(1.2) saturate(500%);
      }
    }

    &__right {
      justify-content: flex-end;

      > * {
        margin-left: 32px;
      }
    }

    &-icon {
      width: 36px; height: 36px;
      position: relative;

      transition: $transition_time;

      img {
        @include imageFit(contain);
      }

      &__badge {
        z-index: 1;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -10px;
        width: 22px;

        font-size: .8rem;

        background-color: $c_white;
        border: 1px solid $c_black;
        border-radius: 100%;

        &:empty {
          display: none;
        }
      }

      &:hover {
        filter: contrast(50%) sepia(100%) hue-rotate(312deg) brightness(1.2) saturate(500%);
      }
    }

    // Стили для кноки, открывающей меню
    &__menu-open {
      min-width: 40px; height: 36px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;

      cursor: pointer;

      border-bottom: 2px solid $c_black;
      transition: $transition_time;

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 2px;

        background: $c_black;
        transition: $transition_time;
      }

      &:after {
        top: 50%;
      }

      &.is-active {
        border: 0;

        &:before, &:after {
          content: "";
          display: block;
          width: 100%;
          margin-top: -55%;
          margin-left: 0;
          top: 100%;
          left: 0;

          transform: rotate(45deg);
          background: black;
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      &:hover {
        border-color: $c_accent;

        &:before,
        &:after {
          background: $c_accent;
        }
      }
    }
  }

  .header-down {
    z-index: 1;
    display: none;
    padding: 0 var(--p-section);

    &__child-wrapper {
      flex: 1 1;
      display: flex;
      justify-content: center;
    }
  }

  .header-search {
    height: 35px;
    position: relative;
    display: flex;
    justify-content: space-between;


    &__input {
      padding-left: 48px;
    }

    &__icon {
      width: 28px;
      height: 28px;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-icon {
      @include bgImage(contain);
      z-index: 1;
    }

    &.active + .header__sale {
      width: 0;
      overflow-x: hidden;
    }
  }

  .header-sale {
    font-weight: 600;

    transition: $transition_time;

    &:hover {
      color: $c_accent;
    }
  }

  .header-connection {
    display: flex;
    flex-direction: column;
  }

  .header-mobile {
    display: none;
  }

  .drop-down-menu {
    z-index: 0;
    padding: 0 var(--p-section) 56px;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    max-height: calc(100vh - var(--header-size));

    background-color: $c_white;
    transform: translateY(-100%);
    transition: $transition_time;

    &::-webkit-scrollbar {
      width: 0;
    }

    &.is-active {
      transform: translateY(0);
    }

    &__mobile-header {
      display: none;
    }

    &__content {
      display: flex;
      flex: 2 1;
    }

    &__image-wrapper {
      flex: 1 1;
      position: relative;
    }

    &__image {

      @include bgImage;
      //img {
      //  @include imageFit(contain);
      //}
    }

    &__nav {
      margin-right: 56px;

      .nav {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        font-family: Montserrat, serif;
        font-style: normal;

        a {
          display: block;

          &:hover {
            color: $c_gray;
          }
        }

        &__title {
          margin-bottom: 48px;

          @include fontMontserrat(600, 1rem);
        }

        &__content {
          margin: -8px 0;
        }

        &__item {
          margin: 8px 0;
          
          @include fontMontserrat(400, .9rem, 1rem);

          &--bold {
            margin: 12px 0;

            @include fontMontserrat(600, 1rem);

            &:hover {
              color: $c_accent !important;
            }
          }
        }
      }
    }
  }
}