@import "../../utilities/variables";

// Товар

.product {
  //width: 320px;
  display: flex;
  flex-direction: column;

  &__header {
    position: relative;
    // TODO: сори, за эту хуйню
    width: calc(calc(100vw - var(--p-section) - var(--p-section) - 32px * 4) / 5);
    height: calc(calc(100vw - var(--p-section) - var(--p-section) - 32px * 4) / 5);

    @media screen and (max-width: 1600px) {
      width: calc(calc(100vw - var(--p-section) - var(--p-section) - 32px * 3) / 4);
      height: calc(calc(100vw - var(--p-section) - var(--p-section) - 32px * 3) / 4);
    }

    @media screen and (max-width: 1300px) {
      width: calc(calc(100vw - var(--p-section) - var(--p-section) - 32px * 2) / 3);
      height: calc(calc(100vw - var(--p-section) - var(--p-section) - 32px * 2) / 3);
    }

    @media screen and (max-width: 960px) {
      width: calc(calc(100vw - var(--p-section) - var(--p-section) - 32px) / 2);
      height: calc(calc(100vw - var(--p-section) - var(--p-section) - 32px) / 2);
    }

    @media screen and (max-width: 660px) {
      width: calc(100vw - var(--p-section) - var(--p-section));
      height: calc(100vw - var(--p-section) - var(--p-section));
    }
  }

  &__image {
    @include bgImage;
  }

  &__like {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  &__state-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px 0;
  }

  &__state {
    margin: 8px 0;
    padding: 4px 8px 4px 28px;
    text-align: right;

    color: $c_accent;
    @include fontMontserrat(700, 1.2rem);

    background-color: $c_gray__light;
  }

  &__footer {

  }

  &__name {
    margin: 24px 0 16px;

    @include fontMontserrat(400, 1rem);
  }

  &__price {
    display: flex;
    margin: 16px 0;
  }

  &__old-price {
    margin-right: 12px;

    @include fontMontserrat(400, 1rem);
    text-decoration: line-through;
  }

  &__current-price {
    @include fontMontserrat(700, 1rem);
  }

  &__cart {
    @include fontMontserrat(500, 1.1rem);
    cursor: pointer;
  }
}