@import "../../utilities/variables";

// Товар

.product {
  width: 320px;
  display: flex;
  flex-direction: column;

  &__header {
    position: relative;
    width: 320px;
    height: 320px;
  }

  &__image {
    @include bgImage;
  }

  &__like {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  &__state-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 16px 0;

    display: flex;
    flex-direction: column;
  }

  &__state {
    background-color: $c_gray__light;
    text-align: right;
    margin: 8px 0;
    padding: 4px 8px 4px 28px;

    color: $c_accent;
    @include fontMontserrat(700, 1.2rem);
  }

  &__footer {

  }

  &__name {
    margin: 24px 0 16px;
    @include fontMontserrat(400, 1rem);
  }

  &__price {
    display: flex;
    margin: 16px 0;
  }

  &__old-price {
    margin-right: 12px;

    @include fontMontserrat(400, 1rem);

    text-decoration: line-through;
  }

  &__current-price {
    @include fontMontserrat(700, 1rem);
  }

  &__cart {
    @include fontMontserrat(500, 1.1rem);

    cursor: pointer;
  }
}