@import "../utilities/variables";

// Стили страницы о нас

.about-us {
   margin-top: $m_header_top;
   @include fontMontserrat(400, 1.3rem, 1.5rem);

   .section-title {
      margin-bottom: 70px;
      @include fontMontserrat(600, 2em, 2rem);
   }
}

.timeline {
   &__content {
      display: flex;
   }

   &__img {
      min-width: 40%;
      margin-right: 20px;

      img {
         @include imageFit;
      }
   }

   &__info {
      height: 100%;
   }

   &__title {
      margin-bottom: 30px;
      @include fontMontserrat(600, 2rem, 2rem);
   }

   &__text {
      font-weight: 400;
   }

   &__slider {
      margin-top: 80px;
      padding: 0 20px;
   }


   &-slider {
      display: inline-flex;
      position: relative;

      @include fontMontserrat(700, 2.4rem);

      &:before {
         content: '';
         display: block;
         position: absolute;
         top: 42px;
         right: 0; left: 0;
         width: 100%; height: 1px;

         background-color: $c_black;
      }

      &__item {
         z-index: 1;
         display: flex;
         align-items: center;
         flex-direction: column;

         cursor: pointer;

         transition: $transition_time;

         &:hover, &.active {
            color: $c_accent;

            .timeline-slider__line {
              transform: scaleY(1.4) translateY(-15px);
              background-color: $c_accent;
            }
         }
      }

      &__year {
        transform: rotate(-90deg);
      }

      &__line {
         width: 10px; height: 85px;
         margin-bottom: 62px;

         background-color: $c_black;
         transition: $transition_time;
      }
   }
}

.work {
   margin-top: $m_section_top * 2;

   &__content {
      display: flex;
      justify-content: space-between;
   }

   &__title {
      margin-top: 20px;

      font-weight: 600;

      &:first-child {
         margin-top: unset;
      }
   }

   &__text {
      white-space: pre-line;
      font-weight: 400;
   }

   &__img {
      img {
         @include imageFit;
      }
   }

   &__slider {
      margin: 100px 0;
   }

   &-slider {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;

      &:before {
         content: '';
         display: block;
         position: absolute;
         top: 55%;
         right: 0;
         left: 0;
         width: 100%;
         height: 1px;

         background-color: $c_black;
      }

      &__item {
         z-index: 1;
         padding: 0 15px;

         cursor: pointer;
         @include fontMontserrat(700, 1.9rem);

         background-color: $c_white;
         transition: $transition_time;

         &:first-child {
            padding: 0 20px 0 0;
         }
         &:last-child {
            padding: 0 0 0 20px;
         }

         &:hover, &.active {
            color: $c_accent;
            transform: scale(1.1);
         }
      }
   }
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: $m_section_top;
  padding: 0 300px;
}