@import "../utilities/variables";

// Стили страницы certificates

.certificates-page {
  margin-top: $m_header_top;
  @include fontMontserrat(300, 1rem);

  .section-title {
    @include fontMontserrat(600, 2rem);
  }

  .banner {
    height: 550px;
  
    &__title {
      @include fontMontserrat(500, 3.6rem);
    }
  
    &__subtitle {
      @include fontMontserrat(300, 2rem, 4rem);
    }
  }

  .postlist-pagination {
    margin-top: unset;
  }
}

.certificates {
  margin-top: 50px;

  &__content {
    display: grid;
    // grid-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
  }
}

.certificate {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  
  &__img {
    margin-bottom: 20px;

    img {
      @include imageFit;
    }
  }
}