@import "../utilities/variables";

// Стили страницы Сотрудничество

.cooperation {
  margin-top: $m_header_top;

  @include fontMontserrat(400, 1.6rem);

  .section-title {
    @include fontMontserrat(600, 2rem);
  }

  .banner {
    height: 666px;
  
    &__title {
      @include fontMontserrat(500, 2rem);
    }
  
    &__subtitle {
      @include fontMontserrat(300, 1.3rem, 2.2rem);
    }
  }
}

.informations-text {
  margin-top: $m_section_top;
  @include fontMontserrat(400, 1.6rem, 2rem);
}

.informations-tabs {
  margin-top: $m_section_top;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 75px;

    cursor: pointer;

    &:hover, &.active {
      .informations-tabs__num {
        background-color: $c_black;
        color: $c_white;
      }

      .informations-tabs__item-text {
        color: $c_accent;
        font-weight: 700;
      }
    }

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__num {
    min-width: 95px; height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    @include fontMontserrat(700, 2.2rem);
    color: $c_accent;

    border: 1px solid $c_black;
    transition: $transition_time;
  }

  &__item-text {
    color: $c_gray;
    transition: .1s;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 65%;
    padding: 35px 50px;

    background-color: $c_bg_secondary;

    &-text {
      margin-right: 40px;

      div {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: unset;
        }
      }
    }

    &-img {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: unset;
      }
    }
  }
}

.clients {
  margin-top: $m_section_top;

  &__logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

  &__logo {
    margin: 60px 40px 0 0;
  }
}