
// Глобальные стили
@import "../utilities/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.splide__my-custom-pagination {
  bottom: 64px;

  > li {
    margin: 0 14px;
  }
}

.splide__my-custom-page {
  width: 64px;
  height: 4px;
  border-radius: 0;
  position: relative;

  &:after,
  &:before {
    content: '';
    height: 8px;
    position: absolute;
    right: 0;
    left: 0;
  }

  &:after {
    top: 100%;
  }

  &:before {
    bottom: 100%;
  }

  &.is-active {
    transform: scale(1);
  }
}

.product-slider {
  padding-bottom: 80px;

  .splide__my-custom-pagination {
    bottom: 0;
  }

  .splide__my-custom-page {
    background-color: $c_gray;

    &.is-active {
      background-color: $c_black;
    }
  }

  .splide__slide {
    display: flex;
    justify-content: center;
    padding: 0 -12px;

    > * {
      margin: 0 12px;
    }
  }
}

section > .title {
  color: $c_black;
  font: $f_title;
}