// Глобальные стили
@import "../utilities/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  overflow-x: hidden;
}

section {
  min-width: 100vw;
  padding: 0 $p_section;

  &.no-padding {
    padding: 0;
  }

  &.all-padding {
    padding: $p_section;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
}

img {
  display: block;
}

.section-title {
  color: $c_black;
  @include fontRubik(500, 2rem, 2rem);
}

.section-subtitle {
  @include fontMontserrat(400, 1.5rem, 1.5rem);
}

.section-button {
  display: block;
  color: $c_black;
  background-color: $c_white;
  padding: 24px 64px;
  border: 1px solid $c_black;
  border-radius: 0;

  @include fontMontserrat(500, 1.2rem, 1.2rem);
  transition-duration: $transition_time;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $c_white;
    background-color: $c_black;
  }

  &.no-border {
    border: none;
  }

  &--black {
    color: $c_white;
    background-color: $c_black;

    &:hover,
    &:focus {
      color: $c_black;
      background-color: $c_white;
    }
  }
}

.splide__my-custom-pagination {
  bottom: 64px;

  > li {
    margin: 0 14px;
  }
}

.splide__my-custom-page {
  width: 64px;
  height: 4px;
  border-radius: 0;
  position: relative;

  &:after,
  &:before {
    content: '';
    height: 8px;
    position: absolute;
    right: 0;
    left: 0;
  }

  &:after {
    top: 100%;
  }

  &:before {
    bottom: 100%;
  }

  &.is-active {
    transform: scale(1);
  }
}

.product-slider {
  padding-bottom: 80px;
  align-self: stretch;

  .splide__my-custom-pagination {
    bottom: 0;
  }

  .splide__my-custom-page {
    background-color: $c_gray;

    &.is-active {
      background-color: $c_black;
    }
  }

  .splide__slide {
    display: grid;
    grid-template-columns: repeat(5, calc(calc(100vw - 56px - 56px) / 5));
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas: ". . . . .";

    > * {
      justify-self: center;
    }
  }
}