// Глобальные стили
@import "../utilities/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  overflow-x: hidden;

  --p-section: 56px;
  --header-size: 120px;
}

section {
  min-width: 100vw;
  padding: 0 var(--p-section);

  &.no-padding {
    padding: 0;
  }

  &.all-padding {
    padding: var(--p-section);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
}

img {
  display: block;
}

.section-title {
  color: $c_black;
  @include fontRubik(500, 2rem, 2rem);
}

.section-subtitle {
  @include fontMontserrat(400, 1.5rem, 1.5rem);
}

.section-button {
  display: block;
  padding: 24px 64px;

  @include fontMontserrat(500, 1.2rem, 1.2rem);
  color: $c_black;
  cursor: pointer;

  background-color: $c_white;
  border: 1px solid $c_black;
  border-radius: 0;
  transition-duration: $transition_time;

  &:hover,
  &:focus {
    color: $c_white;
    background-color: $c_black;
  }

  &.no-border {
    border: none;
  }

  &--black {
    color: $c_white;
    background-color: $c_black;

    &:hover,
    &:focus {
      color: $c_black;
      background-color: $c_white;
    }
  }
}

.product-swiper {
  width: 100%;
  align-self: stretch;
  padding-bottom: 80px;

  .swiper-wrapper {
    //margin: 0 -16px;
  }

  .swiper-slide {
    display: flex;

    .product {
      //margin: 0 16px;
    }
  }

  .swiper-pagination {
    bottom: 0;
  }
}

.swiper-pagination-bullet {
  width: 64px; height: 4px;

  background-color: $c_gray;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background-color: $c_black;
}

.connect-section {
  margin-top: $m_section_top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: $c_bg_secondary;

  &__content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: baseline;
  }

  &__title {
    margin-bottom: 28px;
    @include fontMontserrat(500, 2.5rem);
  }

  &__subtitle {
    margin-bottom: 48px;
    @include fontMontserrat(400, 1rem, 1.5rem);
  }

  &__consent {
    margin-top: 45px;
    @include fontMontserrat(400, .7rem);

    a {
      color: #00bfff;
    }
  }

  &__mobile-images {
    display: none;
  }

  &__images {
    display: flex;
    flex: 1 1;
    margin: 32px -26px;
  }

  &__image {
    width: 260px; height: 260px;
    margin: 0 26px;

    img {
      @include imageFit;
    }
  }

  &__register {
    display: flex;

    &-user-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 25px;

      input {
        padding: 15px 40px;
        margin-bottom: 25px;

        @include fontMontserrat(400, 1rem);
        
        border: none;

        &:last-child {
          margin-bottom: unset;
        }
      }
    }

    &-user-comment {
      textarea {
        min-width: 600px; height: 100%;
        padding: 40px;
        resize: none;

        @include fontMontserrat(400, 1rem, 1rem);

        border: none;
      }
    }
  }
}

.breadcrumbs {
  z-index: 1;
  padding: 10px $p_section 0;

  @include fontMontserrat(400, .7rem);
}