@import "../utilities/variables";
@import "../utilities/mixins";

// Стили главной страницы

// Главный Слайдер
.main-slider {
  .swiper-pagination {
    bottom: 64px;

    &-bullet {
      background-color: $c_gray__light;

      &-active {
        background-color: $c_white;
      }
    }
  }
}

.main-slider-item {
  padding-top: $m_header_top;
  height: 920px;
  max-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;

  &__bg {
    @include bgImage;
  }

  &__content {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: var(--p-section);

    > * {
      margin: 24px 0;
    }
  }

  &__title {
    color: $c_white;
    @include fontMontserrat(500, 3.5rem);
  }

  &__subtitle {
    color: $c_white;
    @include fontMontserrat(400, 2rem);
  }

  &__link {
    display: block;
    padding: 24px 96px;

    color: $c_black;
    @include fontMontserrat(500, 1.25rem);

    background-color: $c_white;
  }
}

// Новинки

.new-items {
  width: 100%;
  margin-top: $m_section_top;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__categories {
    display: flex;
    margin: 24px 0;
  }

  &__category {
    margin: 12px;
    padding: 12px 20px;

    @include fontRubik(500, 1rem);
    cursor: pointer;

    border: 1px solid $c_gray;
    transition-duration: $transition_time;

    &.is-active {
      color: $c_accent;

      border: 1px solid $c_black;
    }

    &:hover {
      color: $c_accent;

      transform: scale(1.1);
    }
  }

  .section-button {
    margin-top: 48px;
  }
}

// Распродажа

.sale {
  margin-top: $m_section_top;
  position: relative;
  display: flex;

  > *:first-child {
    flex: 1 1;
  }

  &__image {
    width: 100%; height: 100%;
    
    @include bgImage();
  }

  &__content {
    @include calculateSizeForSquareContainer(var(--p-section), 32px, 100vw, 3, 5);
    width: var(--container-size);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 96px var(--p-section) 56px;

    @media screen and (max-width: 1500px) {
      @include calculateSizeForSquareContainer(var(--p-section), 32px, 100vw, 3, 4);
    }

    @media screen and (max-width: 1100px) {
      @include calculateSizeForSquareContainer(var(--p-section), 32px, 100vw, 2, 3);
    }

    @media screen and (max-width: 800px) {
      @include calculateSizeForSquareContainer(var(--p-section), 32px, 100vw, 2, 2);
    }

    @media screen and (max-width: 500px) {
      @include calculateSizeForSquareContainer(var(--p-section), 32px, 100vw, 1, 1);
    }

    .swiper-container {
      width: calc(var(--container-size) - var(--p-section) * 2);

    }
  }

  &__slider {
    width: 100%;
    margin: 36px 0;
  }

  &__bg-color {
    z-index: -1;
    position: absolute;
    top: 48px;
    right: 0;
    bottom: -32px;
    left: -128px;

    background-color: $c_bg_secondary;
  }

  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

// О компании

.about {
  margin-top: $m_section_top;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 36px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 120px;
    padding: 0 150px;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;

    > * {
      width: 100%;
      flex: 1 1;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
  }

  &__advantage {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__advantage-image {
    margin-right: 24px;
  }

  &__advantage-text {
    flex: 1 1;

    @include fontMontserrat(400, 1rem, 1.2rem);
  }

  .section-button {
    margin-top: 48px;
  }

  &__images {
    display: flex;
    justify-content: space-between;
  }

  &__first-image {
    width: calc(34% - 16px);
    align-self: flex-end;
  }

  &__second-image {
    width: calc(66% - 16px);
    align-self: flex-start;
  }
}

.catalog-categories {
  margin-top: $m_section_top;

  .section-title {
    margin-bottom: 32px;
  }

  &__grid {
    height: 1000px;
    margin: -12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: "catalog-categories__big1 catalog-categories__small1" "catalog-categories__big1 catalog-categories__small1" "catalog-categories__big1 catalog-categories__small2" "catalog-categories__big2 catalog-categories__small2" "catalog-categories__big2 catalog-categories__small3" "catalog-categories__big2 catalog-categories__small3";
  }

  &__item {
    margin: 12px;

    > * {
      width: 100%;
      height: 100%;
    }

    .catalog-category {
      width: 100%; height: 100%;
      display: flex;
      align-items: flex-end;
      position: relative;
      padding: 56px;

      &__bg {
        z-index: -1;
        overflow: hidden;

        @include bgImage;

        img {
          transition: $transition_time_long;
        }
      }

      &:hover {
        .catalog-category__bg {
          img {
            transform: scale(1.05);
          }
        }
      }

      &__title {
        max-width: 50%;

        @include fontRubik(400, 3rem, 3rem);
        color: $c_white;
      }
    }

    &:nth-child(n + 3) {
      .catalog-category {
        align-items: center;
      }
    }

    &:nth-child(1) {
      grid-area: catalog-categories__big1;
    }

    &:nth-child(2) {
      grid-area: catalog-categories__big2;
    }

    &:nth-child(3) {
      grid-area: catalog-categories__small1;
    }

    &:nth-child(4) {
      grid-area: catalog-categories__small2;
    }

    &:nth-child(5) {
      grid-area: catalog-categories__small3;
    }
  }
}

.popular {
  margin: $m_section_top 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .product-swiper {
    margin-top: 80px;
  }

  .section-button {
    margin-top: 48px;
  }
}