<footer>

    <section class="subscribe-news">
        <div class="section-title">
            Узнавайте первыми о скидках и новинках!
        </div>

        <form class="subscribe-news__form">
            <input type="email" class="subscribe-news__email" placeholder="Введите ваш e-mail">
            <button type="submit" class="section-button section-button--black">
                Подписаться
            </button>
        </form>

        <div class="subscribe-news__personal-info">
            Нажимая на кнопку “Подписаться”, вы даете согласие на получение рассылки и на обработку ваших персональных данных.
        </div>
    </section>

    <section class="footer">
        <div class="footer__header">
            <a href="/">
                <img src="img/footer_logo.png">
            </a>
        </div>

        <div class="footer__content">
            <div class="footer__nav">
                <div class="nav">
                    <a href="#" class="nav__title footer__accent-text">
                        Помощь
                    </a>

                    <div class="nav__content">
                        <a href="#" class="nav__item">Личный кабинет</a>
                        <a href="#" class="nav__item">Оплата и доставка</a>
                        <a href="#" class="nav__item">Обмен и возврат</a>
                        <a href="#" class="nav__item">Гид по выбору</a>
                        <a href="#" class="nav__item">Возврат денежных средств</a>
                        <a href="#" class="nav__item">Часто задаваемые вопросы</a>
                    </div>
                </div>
            </div>
            <div class="footer__nav">
                <div class="nav">
                    <a href="#" class="nav__title footer__accent-text">
                        Помощь
                    </a>

                    <div class="nav__content">
                        <a href="#" class="nav__item">Личный кабинет</a>
                        <a href="#" class="nav__item">Оплата и доставка</a>
                        <a href="#" class="nav__item">Обмен и возврат</a>
                        <a href="#" class="nav__item">Гид по выбору</a>
                        <a href="#" class="nav__item">Возврат денежных средств</a>
                        <a href="#" class="nav__item">Часто задаваемые вопросы</a>
                    </div>
                </div>
            </div>
            <div class="footer__nav">
                <div class="nav">
                    <a href="#" class="nav__title footer__accent-text">
                        Помощь
                    </a>

                    <div class="nav__content">
                        <a href="#" class="nav__item">Личный кабинет</a>
                        <a href="#" class="nav__item">Оплата и доставка</a>
                        <a href="#" class="nav__item">Обмен и возврат</a>
                        <a href="#" class="nav__item">Гид по выбору</a>
                        <a href="#" class="nav__item">Возврат денежных средств</a>
                        <a href="#" class="nav__item">Часто задаваемые вопросы</a>
                    </div>
                </div>
            </div>
            <div class="footer__nav">
                <div class="nav">
                    <a href="#" class="nav__title footer__accent-text">
                        Помощь
                    </a>

                    <div class="nav__content">
                        <a href="#" class="nav__item">Личный кабинет</a>
                        <a href="#" class="nav__item">Оплата и доставка</a>
                        <a href="#" class="nav__item">Обмен и возврат</a>
                        <a href="#" class="nav__item">Гид по выбору</a>
                        <a href="#" class="nav__item">Возврат денежных средств</a>
                        <a href="#" class="nav__item">Часто задаваемые вопросы</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__footer">
            <p class="footer__accent-text">
                © ТекСтильный центр “CITITEX”, 2021
            </p>

            <p class="footer__secondary-text">
                Сайт не является публичной офертой
            </p>

            <p class="footer__secondary-text">
                Дизайн: Анастасия Махно
            </p>
        </div>
    </section>

</footer>