<header>

    <div class="header">

        <div class="header__left">
            <div class="header__menu-open">
            </div>
            <a class="header__icon" href="#">
                <div class="header-icon">
                    <span></span>
                </div>
            </a>
            <a class="header__icon" href="#">
                <div class="header-icon">
                    <span></span>
                </div>
            </a>
            <div class="header__search">
                <input class="header__input" type="text" placeholder="Искать товары">
                <button class="header__icon">
                    <div class="header-icon">
                        <span></span>
                    </div>
                </button>
            </div>
            <a class="header__sale" href="#">Распродажа</a>
        </div>
        <div class="header__center">
            <a href="#">
                <img class="header__logo" src="img/header_logo.png">
            </a>
        </div>
        <div class="header__right">
            <div class="header__connection">
                <span>8-9627-601-810</span>
                <span>8-8442-601-810</span>
            </div>
            <a class="header__item" href="#">
                <div class="header__icon">
                    <div class="header-icon">
                        <span></span>
                        <div class="header-icon__badge">10</div>
                    </div>
                </div>
                <div class="header__item-text">Избранное</div>
            </a>
            <a class="header__item" href="#">
                <div class="header__icon">
                    <div class="header-icon">
                        <span></span>
                        <div class="header-icon__badge">10</div>
                    </div>
                </div>
                <div class="header__item-text">Корзина</div>
            </a>
            <a class="header__item" href="#">
                <div class="header__icon">
                    <div class="header-icon">
                        <span></span>
                    </div>
                </div>
                <div class="header__item-text">Вход</div>
            </a>
        </div>

    </div>

</header>