<header id="header">

    <div class="header">

        <div class="header__left">
            <div id="drop-down-menu-toggle" class="header__menu-open"></div>
            <a class="header__icon header-phone" href="#">
                <div class="header-icon">
                    <img src="img/icons/phone.png" alt="">
                </div>
            </a>
            <a class="header__icon header-map" href="#">
                <div class="header-icon">
                    <img src="img/icons/region.png" alt="">
                </div>
            </a>
            <div class="header__search">
                <div class="header-search">
                    <input class="header-search__input" type="text" placeholder="Искать товары">
                    <button class="header-search__icon">
                        <div class="header-search-icon">
                            <img src="img/icons/search.png" alt="">
                        </div>
                    </button>
                </div>
            </div>
            <div class="header__sale">
                <a class="header-sale" href="#">Распродажа</a>
            </div>
        </div>
        <div class="header__center">
            <a href="/">
                <img class="header__logo" src="img/cititex-logos/header_logo.png">
            </a>
        </div>
        <div class="header__right">
            <div class="header__connection">
                <div class="header-connection">
                    <span>8-9627-601-810</span>
                    <span>8-8442-601-810</span>
                </div>
            </div>
            <a class="header__item header-favorite" href="#">
                <div class="header__icon">
                    <div class="header-icon">
                        <img src="img/icons/favorites.svg" alt="">
                        <div class="header-icon__badge">10</div>
                    </div>
                </div>
                <div class="header__item-text">Избранное</div>
            </a>
            <a class="header__item header-card" href="#">
                <div class="header__icon">
                    <div class="header-icon">
                        <img src="img/icons/basket.svg" alt="">
                        <div class="header-icon__badge">10</div>
                    </div>
                </div>
                <div class="header__item-text">Корзина</div>
            </a>
            <a class="header__item" href="#">
                <div class="header__icon">
                    <div class="header-icon">
                        <img src="img/icons/private.svg" alt="">
                    </div>
                </div>
                <div class="header__item-text">Вход</div>
            </a>
        </div>
    </div>

    <div class="header-down">
        <div class="header-down__child-wrapper">
            <div class="header-search">
                <input class="header-search__input" type="text" placeholder="Искать товары">
                <button class="header-search__icon">
                    <div class="header-search-icon">
                        <img src="img/icons/advantages_1.png" alt="">
                    </div>
                </button>
            </div>
        </div>
        <div class="header-down__child-wrapper">

            <div>
                <a class="header-sale" href="#">Распродажа</a>
            </div>
        </div>
        <div class="header-down__child-wrapper">

            <div class="header-connection">
                <span>8-9627-601-810</span>
            </div>
        </div>
        <div class="header-down__child-wrapper">

            <div class="header-connection">
                <span>8-8442-601-810</span>
            </div>
        </div>
    </div>

    <div class="header-mobile">
        <a class="header__icon" href="#">
            <div class="header-icon">
                <img src="img/icons/advantages_1.png" alt="">
            </div>
        </a>
        <a class="header__icon" href="#">
            <div class="header-icon">
                <img src="img/icons/advantages_1.png" alt="">
            </div>
        </a>
        <a class="header__icon" href="#">
            <div class="header-icon">
                <img src="img/icons/advantages_1.png" alt="">
            </div>
        </a>
        <a class="header__item" href="#">
            <div class="header__icon">
                <div class="header-icon">
                    <img src="img/icons/favorites.svg" alt="">
                    <div class="header-icon__badge">10</div>
                </div>
            </div>
        </a>
        <a class="header__item" href="#">
            <div class="header__icon">
                <div class="header-icon">
                    <img src="img/icons/basket.svg" alt="">
                    <div class="header-icon__badge">10</div>
                </div>
            </div>
        </a>
    </div>

    <div id="drop-down-menu" class="drop-down-menu show">
        <div class="drop-down-menu__mobile-header">
            <div class="header-down__child-wrapper">

                <div>
                    <a class="header-sale" href="#">Распродажа</a>
                </div>
            </div>
            <div class="header-down__child-wrapper">

                <div class="header-connection">
                    <span>8-9627-601-810</span>
                </div>
            </div>
            <div class="header-down__child-wrapper">

                <div class="header-connection">
                    <span>8-8442-601-810</span>
                </div>
            </div>
        </div>
        <div class="drop-down-menu__content">
            <div class="drop-down-menu__nav">
                <div class="nav">
                    <a href="#" class="nav__item nav__item--bold">Постельное белье</a>
                    <a href="#" class="nav__item nav__item--bold">Махровые изделия</a>
                    <a href="#" class="nav__item nav__item--bold">Пледы и покрывала</a>
                    <a href="#" class="nav__item nav__item--bold">Подушки и одеяла</a>
                    <a href="#" class="nav__item nav__item--bold">Матрасы и наматрасники</a>
                    <a href="#" class="nav__item nav__item--bold">Кухня и столовая</a>
                    <a href="#" class="nav__item nav__item--bold">Коврики и ковры</a>
                    <a href="#" class="nav__item nav__item--bold">Для дома и сна</a>
                    <a href="#" class="nav__item nav__item--bold">Подарки</a>
                    <a href="#" class="nav__item nav__item--bold">Тестиль для бизнеса</a>
                    <a href="#" class="nav__item nav__item--bold">Товары для детей</a>
                    <a href="#" class="nav__item nav__item--bold">Прочее</a>
                    <a href="#" class="nav__item nav__item--bold">Тестиль для бизнеса</a>
                    <a href="#" class="nav__item nav__item--bold">Товары для детей</a>
                    <a href="#" class="nav__item nav__item--bold">Прочее</a>
                </div>
            </div>
            <div class="drop-down-menu__nav">
                <div class="nav">
                    <a href="#" class="nav__item nav__item--bold">Категория</a>
                    <a href="#" class="nav__item">Постельное бельё</a>
                    <a href="#" class="nav__item">Пододеяльники</a>
                    <a href="#" class="nav__item">Простыни</a>
                    <a href="#" class="nav__item">Наволочки</a>
                </div>
            </div>
            <div class="drop-down-menu__nav">
                <div class="nav">
                    <a href="#" class="nav__item nav__item--bold">Состав</a>
                    <a href="#" class="nav__item">100% хлопок</a>
                    <a href="#" class="nav__item">50% хлопок, 50 % П/Э</a>
                </div>
            </div>
            <div class="drop-down-menu__nav">
                <div class="nav">
                    <a href="#" class="nav__item nav__item--bold">Ткань</a>
                    <a href="#" class="nav__item">Сатин</a>
                    <a href="#" class="nav__item">Поплин</a>
                    <a href="#" class="nav__item">Мако-сатин</a>
                </div>
            </div>
        </div>

        <div class="drop-down-menu__image-wrapper">
            <div class="drop-down-menu__image">
                <img src="img/drop_down_menu.png">
            </div>
        </div>
    </div>
</header>