<div class="modals">
    <div id="modal-login" class="modal modal-login">
        <div class="modal__header">
            <div class="modal__title">
                Войти в личный кабинет
            </div>
        </div>

        <div class="modal__content">
            <div class="modal__input">
                <label for="login-email">Логин</label>
                <input
                        type="email" name="email" id="login-email"
                        autocomplete="false" placeholder="E-mail">
            </div>
            <div class="modal__input">
                <label for="login-password">Пароль</label>
                <input
                        type="password" name="password" id="login-password"
                        autocomplete="false" placeholder="Пароль">
            </div>

            <a href="#" class="modal__link">Забыли пароль?</a>
            <a href="#" class="modal__link button-signup" data-modal="modal-signup">Зарегистрироваться</a>
        </div>

        <div class="modal__footer">
            <button class="modal__button section-button">Войти</button>
        </div>
    </div>

    <div id="modal-signup" class="modal modal-signup">
        <div class="modal__header">
            <div class="modal__title">
                Регистрация
            </div>
            <div class="modal__subtitle">
                Если вы являетесь оптовым покупателем,
                заполните пожалуйста <a href="#">анкету</a>
            </div>
        </div>

        <div class="modal__content">
            <div class="modal__input">
                <label for="signup-email">Электронная почта</label>
                <input
                        type="email" name="email" id="signup-email"
                        autocomplete="false" placeholder="E-mail">
            </div>
            <div class="modal__input">
                <label for="signup-password">Пароль</label>
                <input
                        type="password" name="password" id="signup-password"
                        autocomplete="false" placeholder="Пароль">
            </div>
            <div class="modal__input">
                <label for="signup-password2">Повторите пароль</label>
                <input
                        type="password" name="password2" id="signup-password2"
                        autocomplete="false" placeholder="Пароль">
            </div>
        </div>

        <div class="modal__footer">
            <button class="modal__button section-button section-button--black">Зарегистрироваться</button>
        </div>
    </div>

    <div id="modal-contact" class="modal modal-signup">
        <div class="modal__header">
            <div class="modal__title">
                Оставьте заявку и мы перезвоним вам в течении 15 минут
            </div>
        </div>

        <div class="modal__content">
            <div class="modal__input">
                <input
                        type="text" name="name" id="contact-name"
                        autocomplete="false" placeholder="Ваше имя">
            </div>
            <div class="modal__input">
                <input
                        type="tel" name="phone" id="contact-phone"
                        autocomplete="false" placeholder="Ваш номер телефона">
            </div>
        </div>

        <div class="modal__footer">
            <button class="modal__button section-button">Заказать звонок</button>
            <div class="modal__personal">
                Нажимая на кнопку, вы даете согласие на обработку <a href="#">персональных данных</a>
            </div>
        </div>
    </div>

<!--    BG должен быть всегда ниже модалок-->
    <div id="modal-bg" class="modals__bg"></div>
</div>