<div class="product">
    <div class="product__header">
        <div class="product__image">
            <img src="img/products/product_1.png">
        </div>
        <div class="product__like">
            <img src="img/icons/like.png" alt="">
        </div>
        <div class="product__state-wrapper">
            <div class="product__state">-25%</div>
            <div class="product__state">new</div>
        </div>
    </div>

    <div class="product__footer">
        <div class="product__name">Фартук мужской "Этель" Лучший муж @@name</div>
        <div class="product__price">
            <div class="product__old-price">475</div>
            <div class="product__current-price">380 Р</div>
        </div>
        <div class="product__cart">В корзину</div>
    </div>

    <div class="product__hover">
        <div class="product-hover">
            <div class="product-hover__header">
                <div class="product-hover__images">
                    <div class="square-image">
                        <img src="img/products/product_1.png">
                    </div>
                    <div class="square-image">
                        <img src="img/products/product_1.png">
                    </div>
                </div>
                <div class="product__header ms-2">
                    <div class="product__image">
                        <img src="img/products/product_1.png">
                    </div>
                    <div class="product__like">
                        <img src="img/icons/like.png" alt="">
                    </div>
                    <div class="product__state-wrapper">
                        <div class="product__state">-25%</div>
                        <div class="product__state">new</div>
                    </div>
                </div>
            </div>

            <div class="product__footer">
                <div class="product__name">Фартук мужской "Этель" Лучший муж @@name</div>
                <div class="product__price">
                    <div class="product__old-price">475</div>
                    <div class="product__current-price">380 Р</div>
                </div>
                <div class="product__cart">В корзину</div>
            </div>
        </div>
    </div>
</div>