<div class="product">
    <div class="product__header">
        <div class="product__image">
            <img src="img/product_1.png">
        </div>
        <div class="product__like">
            <img src="img/like.png" alt="">
        </div>
        <div class="product__state-wrapper">
            <div class="product__state">-25%</div>
            <div class="product__state">new</div>
        </div>
    </div>

    <div class="product__footer">
        <div class="product__name">Фартук мужской "Этель" Лучший муж</div>
        <div class="product__price">
            <div class="product__old-price">475</div>
            <div class="product__current-price">380 Р</div>
        </div>
        <div class="product__cart">В корзину</div>
    </div>
</div>