
// lg

@media screen and (max-width: 1680px) {

}

// md
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  //
  .connect-section {

    &__content {
      flex: 1 1;
    }
  }

}

// sm
@media screen and (max-width: 992px) {
  html {
    --p-section: 32px;
  }
}

// xs
@media screen and (max-width: 768px) {

  html {
    --header-size: 100px;
  }

  .connect-section {
    &__content {
      align-items: stretch;
      text-align: center;
    }

    &__title,
    .section-button,
    &__mobile-images {
      margin-bottom: 24px;
    }

    &__title {
      order: 1;
    }

    &__mobile-images {
      order: 2;
    }

    &__subtitle {
      order: 4;
      margin: 0;
    }

    .section-button {
      order: 3;
    }
  }

}
