
// lg

@media screen and (max-width: 1680px) {

}

// md
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  //
  .connect-section {

    &__content {
      flex: 1 1;
    }

    &__images {
      margin: 0 -16px;
      flex: 0 1;
      display: grid;
      grid-template-areas:
              "big big"
              ". .";
    }

    &__image {
      width: 200px;
      height: 200px;
      margin: 16px;

      &:first-child {
        width: auto;
        grid-column: big;
      }
    }
  }

}

// sm
@media screen and (max-width: 992px) {
  html {
    --p-section: 32px;
  }

  .connect-section {
    &__image {
      &:first-child {
        width: 200px;
        height: 200px;
      }

      &:not(:first-child) {
        display: none;
      }
    }
  }
}

// xs
@media screen and (max-width: 768px) {

}
