
// lg

@media screen and (max-width: 1680px) {

}

// md
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  //
  .connect-section {

    &__content {
      flex: 1 1;
    }

    &__images {
      margin: 0 -16px;
      flex: 0 1;
      display: grid;
      grid-template-areas:
              "big big"
              ". .";
    }

    &__image {
      width: 200px;
      height: 200px;
      margin: 16px;

      &:first-child {
        width: auto;
        grid-column: big;
      }
    }
  }

}

// sm
@media screen and (max-width: 992px) {
  html {
    --p-section: 32px;
  }

  .connect-section {
    &__image {
      &:first-child {
        width: 200px;
        height: 200px;
      }

      &:not(:first-child) {
        display: none;
      }
    }
  }
}

// xs
@media screen and (max-width: 768px) {

  html {
    --header-size: 100px;
  }

  .connect-section {
    &__content {
      align-items: stretch;
      text-align: center;
    }

    &__title,
    .section-button,
    &__mobile-images {
      margin-bottom: 24px;
    }

    &__title {
      order: 1;
    }

    &__subtitle {
      order: 4;
      margin: 0;
    }

    .section-button {
      order: 3;
    }

    &__mobile-images {
      order: 2;
      display: flex;
      justify-content: space-between;
      >* {
        width: 100%;
      }

      .connect-section__image {
        --image-size: calc((100vw - var(--p-section) * 2 - 4px * 2) / 3);
        width: var(--image-size);
        height: var(--image-size);
        display: block;
        margin: 0;
      }
    }

    &__images {
      display: none;
    }
  }

}
